<div id="edit-profile-form" >
  <%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, class: "text-field"%>
  </div>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, class: "text-field"%>
  </div>

  <div class="field">
    <%= f.label :address %>
    <%= f.text_field :address, class: "text-field"%>
  </div>

  <div class="actions">
    <%= f.submit "Save changes", class:"edit-profile-button" %>
  </div>
  <% end %>
</div>
