<div id="profile-container">
  <h3>Your profile</h3>
  <div id="profile-info">
    <div id="profile-image">
      <%= image_tag "/assets/user.png" %>
    </div>

    <div id="profile-detail">
      <div class="profile-detail-desc"><b><%= @profile.firstname %> <%= @profile.lastname %></b><span><%= link_to 'Edit your profile', edit_profile_path(@profile) %></span></div>
      <div class="profile-detail-desc"><b>Email: </b><%= @user.email %></div>
      <div class="profile-detail-desc"><b>Delivery Address: </b><%= @profile.address %></div>
    </div>
  </div>

  <div id="transaction-container">
    <h3>History of your transactions</h3>
    <table id="transaction-history">
		<tr>
			<th>Product</th>
			<th>Price</th>
			<th>Date</th>
		</tr>
		
	<% @purchases.each do |purchase| %>
		<% pj = JSON.parse(purchase.contents) %>
		<% pj["purchase"].each do |json| %>
			<% quantity = json["quantity"] %>
			<tr>
				<td>
					<%= quantity %> * <%= json["id"] %> <!-- get link to product as well as displaying product designation -->
				</td>
				<td>
					<!-- price = quantity * value of inventory[id] -->
				</td>
				<td>
					<%= purchase.created_at %>
				</td>
			</tr>
		<% end %>
	<% end %>
		
	</table>
  </div>
  
  <% if current_user && current_user.admin? %>
	<%= link_to 'Edit', edit_profile_path(@profile) %>
  <% end %>
  
</div>
