<div id="profile-container">
  <h3>Your profile</h3>
  <div id="profile-info">
    <div id="profile-image">
      <%= image_tag "/assets/user.png" %>
    </div>

    <div id="profile-detail">
      <div class="profile-detail-desc"><b><%= @profile.firstname %> <%= @profile.lastname %></b><span><%= link_to 'Edit your profile', edit_profile_path(@profile) %></span></div>
      <div class="profile-detail-desc"><b>Email: </b><%= @user.email %></div>
      <div class="profile-detail-desc"><b>Delivery Address: </b><%= @profile.address %></div>
    </div>
  </div>

  <h3>History of your transactions</h3>
  <div id="transaction-container">
    <table id="transaction-history">
		<tr>
      <th>Product</th>
			<th>Unit Price</th>
			<th>Quantity</th>
      <th>Purchase Time</th>
		</tr>

  	<% @purchases.each do |purchase| %>
      <% prev_purchase = JSON.parse(purchase.contents) %>
      <% prev_purchase.inspect() %>

      <% prev_purchase["purchase"].each do |json| %>
        <% prev_purchased_id = json["id"] %>
        <% quantity = json["quantity"] %>
        <% prev_purchased_product = @allProducts[prev_purchased_id] %>
        <tr>
          <td><%= prev_purchased_product.Designation %></td>
          <td><%= prev_purchased_product.Cost %></td>
          <td><%= quantity %></td>
          <td><%= purchase.created_at %></td>
        </tr>
      <% end %>
    <% end %>

	 </table>
  </div>

  <% if current_user && current_user.admin? %>
	 <%= link_to 'Edit', edit_profile_path(@profile) %>
  <% end %>

</div>
