<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="homepage">
	<div class="container">

		<article>

			<h1>Your Cart</h1>

			<% if @cart.empty? %>
				<p>Your Cart is empty.</p>
			<% end %>

			<% total = 0 %>

			<table id="cart">
				<tr>
					<th class="legend" colspan="2">Product</th>
					<th class="legend">Price</th>
					<th class="legend">Qty</th>
					<th class="legend">Total</th>
				</tr>

			<% @cart.each do |id,quantity| %>
				<% inventory = Inventory.find_by_id(id) %>
				<tr>
					<td>
						<div class="image">
							<%= link_to (image_tag inventory.image_url, :style => "width:	80px"), inventory %>
						</div>
					</td>
					<td class="title"><%= link_to inventory.Designation, inventory %></td>
					<td class="price">Qrts<%= inventory.Cost %></td>
					<td class="quantity"><%= quantity %><br/></td>
					<td class="price"><%= number_to_currency(quantity * inventory.Cost, :unit => "Qrts") %></td>
					<td> <a href="/cart/remove/<%= id =%>">Remove</a> </td>
				</tr>
				<% total += quantity * inventory.Cost %>
			<% end %>

				<tr>
					<td colspan="4">
						<div class="total">Total:</div>
					</td>
					<td>
						<div class="price"><%= number_to_currency(total, :unit => "Qrts") %></div>
					</td>
				</tr>
			</table>

			<p>
				<%= link_to 'Continue Shopping', :controller => :inventories %>
			</p>

		</article>

	</div>

</body>

</html>
