<!DOCTYPE html>
<html>
<head>
	<title>Cart</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<div class="container">

		<article>

			<h1>Your Cart</h1>

			<% if @cart.empty? %>
				<p>Your Cart is empty.</p>
			<% end %>

			<% total = 0 %>

			<div id="cart-container">

				<table id="cart">
					<tr>
						<th colspan="2">Product</th>
						<th>Price</th>
						<th>Qty</th>
						<th>Total</th>
						<th>Remove</th>
					</tr>

				<% @cart.each do |id,quantity| %>
					<% inventory = Inventory.find_by_id(id) %>
					<% if inventory.nil? %>
						<% next %>
					<% end %>
					<tr>
						<td>
							<div class="image">
								<%= link_to (image_tag inventory.image_url, :style => "width:	80px"), inventory %>
							</div>
						</td>
						<td> <%= link_to inventory.Designation, inventory %></td>
						<td>Qrts <%= inventory.Cost %></td>
						<td><%= quantity %><br/></td>
						<td><%= number_to_currency(quantity * inventory.Cost, :unit => "Qrts ") %></td>
						<td>
							<a href="/cart/remove/<%= id %>">
		            <img src="/assets/delete.png" alt="Remove item" class="remove-cart-image">
		           </a>
						</td>
					</tr>
					<% total += quantity * inventory.Cost %>
				<% end %>

					<tr>
						<td colspan="4">
							<div class="total">Total:</div>
						</td>
						<td>
							<div class="price"><%= number_to_currency(total, :unit => "Qrts ") %></div>
						</td>

					</tr>
				</table>

				<div class="remove-button">
					<%= link_to "Checkout", controller: "checkout", action: "checkout"%>
				</div>
				<div class="alternative-links continue-shopping">
					<%= link_to 'Continue shopping', :controller => :inventories %>
				</div>

			</div>



		</article>

	</div>

</body>

</html>
