<%= form_for(inventory) do |f| %>
  <% if inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

      <ul>
      <% inventory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Designation %>
    <%= f.text_field :Designation %>
  </div>

  <div class="field">
    <%= f.label :Description %>
    <%= f.text_area :Description %>
  </div>

  <div class="field">
    <%= f.label :Freshness %>
    <%= f.text_field :Freshness %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>

  <div class="field">
    <%= f.label :Karma_Rating %>
    <%= f.text_field :Karma_Rating %>
  </div>

  <div class="field">
    <%= f.label :Cost %>
    <%= f.number_field :Cost %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
