<p id="notice"><%= notice %></p>

<h1>Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Designation</th>
      <th>Description</th>
      <th>Freshness</th>
      <th>Image url</th>
      <th>Karma rating</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.Designation %></td>
        <td><%= inventory.Description %></td>
        <td><%= inventory.Freshness %></td>
        <td><%= inventory.image_url %></td>
        <td><%= inventory.Karma_Rating %></td>
        <td><%= inventory.Cost %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
