<div id="search">
  <form id="searchForm" autocomplete="off">
  <input type="text" id="searchBar" name="search" placeholder="Search..">
  <button type="submit" id="searchButton">Search</button>
  </form>
</div>

<table class="catalog">

<% @inventories.each do |inventory| %>
  <tr>
    <td>
      <div class="image">
        <%= link_to (image_tag inventory.image_url, :class => "image-style"), inventory %>
      </div>
    </td>
    <td class="product-info">
      <div class="title">
        <%= link_to inventory.Designation, inventory, :class => "title-style"%>
      </div>
      <div class="description">
        <%= inventory.Description %>
      </div>
      <div class="price">
        <%= number_to_currency(inventory.Cost, :unit => "qt.")%>
      </div>
    </td>
    <td class="add-cart">
      <div class="links">
        <% if session[:login] == 1 %>
          <%= link_to 'Edit', edit_item_path(inventory) %>
          <%= link_to 'Destroy', inventory, :confirm => 'Are you sure?', :method => :delete %>
        <% else %>
        <div class="karma">
          Karma Rating: <%= inventory.Karma_Rating %>
        </div>
        </br>
          <a href="/cart/<%= inventory.id %>">
            <img src="/assets/shopping-cart.png" alt="Product not added" class="cart-image">
            <br/>
            Add to Cart
          </a><br/><br/>
        <% end %>
      </div>
    </td>
    <% if current_user && current_user.admin? %>
		<td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
		<td><%= link_to 'Destroy',  { action: :destroy, id: inventory.id }, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>

</table>

</br>
