<div id="container-forgot-password-form">
  <h3>Log in</h3>
  <div id="forgot-password-form" >

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "text-field", placeholder: "Enter your email address.."%>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class:"create-account-button log-in-button forgot-password-button" %>
      </div>
    <% end %>

    <%= render "devise/shared/links"%>
  </div>
</div>
