<!DOCTYPE html>
<html>
	<head>
		<title>Soulshop</title>
		<%= csrf_meta_tags %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div class="container">
			<div class="slideshow-container">
				<a href="/inventories/1"><img class="slides" src="/assets/backtoschool.jpg"></a>
				<a href="/about"><img class="slides" src="/assets/testimonials.jpg"></a>
				<a href="/contact"><img class="slides" src="/assets/wequote.jpg"></a>

				<div class="slide-text-container">
					<a href="/inventories/4" class="slide-text">
						<h3>Back to School Arrivals</h3>
						<h4>Get the soul you need for the grades you deserve</h4>
					</a>
					<a href="/about" class="slide-text">
						<h3>Our clients love us!</h3>
						<h4>Nearly 40 years of thrive and trust</h4>
					</a>
					<a href="/contact" class="slide-text">
						<h3>We ship Souls all around the world</h3>
						<h4>Wherever you are, we will always make sure you get the right soul</h4>
					</a>
				</div>

			</div>

			<% if current_user && !@prevPurchase.nil? %>
				<div style="width:90%; margin:auto; border-bottom:1px solid #ddd">
					<h3>Your latest purchases</h3>
				</div>
				<% prev_purchase_id ||= [] %>
				<% prev_purchase = JSON.parse(@prevPurchase.contents) %>
				<% prev_purchase["purchase"].each do |json| %>
					<!-- Store all product ids from the previous transaction -->
					<% prev_purchase_id << json["id"] %>
				<% end %>
				<% @allProducts.size() %>
				<% prev_purchased_products ||= [] %>
				<% prev_purchase_id.each_with_index do |item, index| %>
					<!-- Get all the products purchased -->
					<% prev_purchased_products << @allProducts[item] %>
				<% end %>
			<% prev_purchased_products.inspect() %>

			</br>

			<div style="padding:10px">
			<% prev_purchased_products.each do |purchase| %>
			<% next if purchase.nil? %>
			<div id="last-purchases">
			  <div class="last-purchased-products">
			    <a href="/profile">
			      <%= image_tag(purchase.image_url, :alt => "Last Purchases", :class => "image-last-purchase") %>
			    </a>
			    <div class="info-rec-p">
			      <span class="info-rec-name-p"><%= purchase.Designation %></span></br>
			      <span class="info-rec-karma-p">Karma Rating: <%= purchase.Karma_Rating %></span></br>
			      <span class="info-rec-price-p">qt. <%= purchase.Cost %></span>
			    </div>
			  </div>
			</div>
			<% end %>
		</div>
		<% end %>


		</div>
		<br/>
		<script>
		var slideIndex = 0;
		slideshow();
		</script>
	</body>
</html>
